.form {
  display: grid;
  grid-template: 50% 50% / 1fr 1fr;
  gap: 17px;
  padding-inline: 37px;
  margin-block: 10px;
  box-sizing: border-box;

  &--label {
    font-family: inherit;
    font-size: 16px;
    color: #374151;
    text-align: left;
    margin-top: 5px;
  }

  &--input {
    border-radius: 5px;
    text-indent: 5px;
    border: 1px solid #d5d4d8;
    width: 100%;
    height: 35px;
    margin-top: 5px;
    box-sizing: border-box;


    &::placeholder {
      font-family: inherit;
      font-size: 14px;
      color: #6b7280;
    }
  }

  &--btn {
    color: $mainTextColor;
    font-family: $mainFont;
    font-size: 16px;
    background: $gradient;
    border: none;
    border-radius: 5px;
    grid-column: 1 / -1;
    padding-block: 11px;

    cursor: pointer;
  }
}

.image {
  max-width: 100%;
  margin-top: 50px;
}