.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  padding-top: 20px;
  margin-bottom: 20px;

  &--input {
    font-family: $mainFont;
    border-radius: 5px;
    border: 1px solid $mainBorderColor;
    text-indent: 5px;
  }

  &--button {
    grid-column: 1 / -1;
    font-family: $mainFont;
    border-radius: 5px;
    background: $gradient;
    color: $mainColor;
    border: none;
    cursor: pointer;
  }
}

.meme {
  position: relative;

  &--image {
    max-width: 100%;
    border-radius: 3px;
  }

  &--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 20px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: $mainColor;
    letter-spacing: 1px;

    text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,

    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
  }
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}