@use "./styles/utils/utils";
@use "styles/Header";
@use "styles/Meme";

#root {
  max-width: 1280px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;

  font-family: Karla, Inter, sans-serif;
  font-size: 16px;
  font-weight: bold;

  color: #fff;
  background-color: #fff;
}
